<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mojojojo.loginform">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main3Activity"
            android:label="table" />
        <activity
            android:name=".login"
            android:label="LOG IN FORM" />
        <activity
            android:name=".Regestration"
            android:label="Registration" />
        <activity android:name=".forgot_pass" />
        <activity
            android:name=".categeory_list"
            android:label="CATEGORY" />
        <activity
            android:name=".Splash"
            android:label="EMALL">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navigation"
            android:label="@string/title_activity_nevigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".fragment_1" />
        <activity android:name=".Sub_category" />
        <activity android:name=".mainpage" />
        <activity android:name=".first_offer_page" />
        <activity android:name=".product_info"></activity>
        <activity android:name=".pro_list_men"></activity>
    </application>

</manifest>